<label>Server Name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServer($event)" /> -->

<!-- there is two way to binding is to use ngModel it's better than (input) -->
<input class="form-control" type="text" [(ngModel)]="serverName"/>
<br />
<p>{{ serverName }}</p>
<br />
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add Server
</button>
<br />
<br />
<p>{{ newCreateServerStatus }}</p>
<app-server></app-server>
<app-server></app-server>
