<label>Server Name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServer($event)" /> -->

<input class="form-control" type="text" [(ngModel)]="serverName" />
<br />

<br />
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add Server
</button>
<br />
<br />
<!-- comment 1 : ngIf is with * because its instructions in DOM and is same to if statement -->
<p *ngIf="createServer">New Server was successfully created {{serverName}}</p>
<!-- comment 2 : ngFor is like ngIf it too instructions in DOM and should start with * its look like for loop and show list of servers to us -->
<app-server *ngFor="let server of servers "></app-server>

